<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List post</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<%- include ('partials/nav.ejs') -%>

<div>
    <table>
        <tr>
            <th>Post Title</th>
            <th colspan="4">Operations</th>
        </tr>
        <% blog.forEach((entry) => {
        %>
        <tr>

            <td> <%= entry.title  %></td>
            <td><i class='fas fa-eye' style='font-size:24px'></i>View</td>
            <td><a href="/user/viewUser/<%= entry._id %>"><i class='fas fa-edit' style='font-size:24px'></i> Edit </a></td>
            <td><i class='fas fa-trash' style='font-size:24px'></i>Delete</td>
            <td><label class="container">Enable
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label></td>

        </tr>
        <%

        })%>
    </table>

</div>

</body>
</html>