<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read Post</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>


<%- include ('partials/nav.ejs') -%>


<div class="list-content">

</div>

</body>
</html>