<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update post</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<%- include ('partials/nav.ejs') -%>

<div class="pagectr">
    <form id="userForm" method="post">
        <label for="uname">New Username</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="password">New Password</label><br>
        <input type="text" id="password" name="password">
        <input class="addbtn" type="submit" value="Update">
    </form>
</div>



</body>
</html>